<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div
      class="form-control"
      [ngClass]="{
        invalid: form.get('title')!.touched && form.get('title')!.invalid
      }"
    >
      <label for="title">Post title:</label>
      <input type="text" id="title" formControlName="title">

      <div
        *ngIf="form.get('title')!.touched && form.get('title')!.invalid"
        class="validation"
      >
        <small *ngIf="form.get('title')!.errors!.required">
          Enter title
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>Post body</label>
      <quill-editor formControlName="text"></quill-editor>
    </div>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="form.invalid || submited"
    >
      Update
    </button>
  </form>
</div>

<ng-template #loading>
  <p class="text-center">
    Loading...
  </p>
</ng-template>
