<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button
      routerLink="/"
      class="btn btn-link"
    >
      Back to main
    </button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>12.09.2021</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, inventore dolores quas porro, consectetur ex delectus aut numquam voluptatibus eos exercitationem consequatur illum, in obcaecati ducimus a praesentium repudiandae et?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, inventore dolores quas porro, consectetur ex delectus aut numquam voluptatibus eos exercitationem consequatur illum, in obcaecati ducimus a praesentium repudiandae et?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, inventore dolores quas porro, consectetur ex delectus aut numquam voluptatibus eos exercitationem consequatur illum, in obcaecati ducimus a praesentium repudiandae et?</p>
  </div>
</div>
